* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	font-family: 'Lato';
}

h1 {
	font-family: 'Lato';
	font-weight: 200;
}

header {
	background-color: #F6F6F6;
	padding: 10px;
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0px;
	z-index: 999;
}

footer {
	background-color: #F6F6F6;	
	padding: 10px;
}

.g-footer-bump {
	margin-bottom: 100px;
}

.g-body {
	height: 1000px;
	padding-bottom: 10px;
	margin-top: 80px;
}
