li.lecture {
	height: 90px;
	padding-left: 10px;
	padding-right: 10px;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #EBEBEB;
}

.l-image-container {
	width: 70px;
	height: 70px;
	border-radius: 35px;

    margin-top: 10px;
    margin-right: 20px;
}

/*.lecture-image-container{
	position: absolute;
	width: 70px;
	height: 70px;
	background: #FFF;
	border: none;
	border-radius: 35px;

	position: relative;
    overflow:hidden;
    text-align:center;
    background: #999999;
    float: left;

    margin-top: 10px;
    margin-right: 20px;
}*/

/*.lecture-image {
	float: none;
	margin: 0 auto;
}*/

.lecture-title {
	margin-top: 5px;
	font-size: 24px;
	font-weight: 50;
}

.lecture-language {
	vertical-align: middle;
	font-size: 10px;
	font-weight: normal;
	margin-left: 5px;
	background-color: #222E46;
}

.lecture-speaker {
	font-size: 16px;
	font-weight: 50;	
	font-style: italic;
}

.lecture-action {
	margin-top: 3px;
	display: block;
}

.lecture-tag {
	background-color: #E8E8E8;
	color: #888888;
	font-weight: normal;
}