.wp-player {
	background-color: #EBEBEB;

}

.wp-speaker-image-container {
	width: 80px;
	height: 80px;
	border: none;
	border-radius: 40px;

    overflow:hidden;
    text-align:center;
    background: #999999;
    float: left;

    margin-right: 15px;
}

.wp-speaker-image {
	float: none;
	margin: 0 auto;
}

.wp-row {
	display: inline-block;
	vertical-align: middle;
}

.wp-player-area {
	width: auto;

	margin-top: 10px;
	margin-bottom: 10px;
}

.wp-title-area {
	text-align: left;
}

.wp-title {
	font-size: 18px;
}

.wp-title-speaker {
	font-size: 16px;
	font-weight: 50;	
	font-style: italic;
	padding-left: 10px;
}

.wp-title-part {
	color:  #990100;
}

.jp-controls-holder {
	margin-top: 15px;
}

.wp-control-icon {
	display: inline-block;
	font-size: 32px;
	margin-right: 12px;
	vertical-align: middle;
}

.wp-small-icon {
	display: inline-block;
	font-size: 24px;
	vertical-align: middle;
	margin-right: 12px;
}

.wp-icon-disabled {
	color: #CFCFCF;
}

.wp-icon-hidden {
	display: none;
}

.wp-progress-bar {
	width: 100%;
}

.wp-seek-bar {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 10px;
}

.wp-path-bar {
	height: 5px;
	background-color: #CFCFCF;
}

.wp-value-bar {
	background-color: #333333;
	height: 5px;
}

.wp-time {
	font-size: 12px;
}

.jp-duration {
	float: right;
}

.wp-volume-bar {
	width: 100px;
	position: absolute;
	margin-top: -5px;
}

.wp-bar-handle {
	position: absolute;
	background-color: #222E46;
	height: 15px;
	width: 4px;
	margin-top: -10px;
	z-index: 2;
}

.wp-play-handle{
	display: none;
	margin-left: 10px;
}

.wp-volume-handle{
	left: 80%;
}

